{% extends "app/base.html" %} {% block content %}

{% load static %}

<!DOCTYPE html>
<button id="start-btn">start</button>
<button id="stop-btn">stop</button>

<div class="my-4 text-center">
  <div class="row">
    <div class="col-md-12 mb-2">
      <form id="add_blog">
        {% csrf_token %}
        <input class="form-control" type="text" id="post_title" required />
      </form>
    </div>
  </div>
</div>

<div class="my-2 text-center">
  <div class="row" id="posts">
    {% for blog in blog_data %}
    <div class="col-4 mb-2">
      <div class="card">
        <div class="card-body">{{ blog.title }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block extrajs %}
<script>


startBtn.onclick = () => {
  recognition.start();
}
stopBtn.onclick = () => {
  recognition.stop();
}

// https://developer.mozilla.org/ja/docs/Learn/JavaScript/Client-side_web_APIs/Fetching_data

// CSRF対策
const getCookie = (name) => {
  if (document.cookie && document.cookie !== '') {
    for (const cookie of document.cookie.split(';')) {
      const [key, value] = cookie.trim().split('=')
      if (key === name) {
        return decodeURIComponent(value)
      }
    }
  }
}
const csrftoken = getCookie('csrftoken')

// 記事追加音声ｖer
const startBtn = document.querySelector('#start-btn');
const stopBtn = document.querySelector('#stop-btn');
const resultDiv = document.querySelector('#result-div');

SpeechRecognition = webkitSpeechRecognition || SpeechRecognition;
let recognition = new SpeechRecognition();

recognition.lang = 'ja-JP';
recognition.interimResults = true;
recognition.continuous = true;

let finalTranscript = ''; // 確定した(黒の)認識結果

recognition.onresult = (event) => {
  let interimTranscript = ''; // 暫定(灰色)の認識結果
  for (let i = event.resultIndex; i < event.results.length; i++) {
    let transcript = event.results[i][0].transcript;
    if (event.results[i].isFinal) {
      finalTranscript = transcript;
    } else {
      interimTranscript = transcript;
    }
  }
  
  post_title.value=finalTranscript + interimTranscript ;

  const url = '{% url "app:add" %}'
  const post_title = document.getElementById('post_title')
  // URLのクエリパラメータを管理
  const body = new URLSearchParams()
  body.append('title', post_title.value)

  fetch(url, {
    method: 'POST',
    body: body,
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
      'X-CSRFToken': csrftoken,
    },
  })
    .then((response) => {
      // JSON形式に変換
      return response.json()
    })
    .then((response) => {
      // フォームをクリア
      post_title.value = ''
      // 追加するエレメント
      const postArea = document.getElementById('posts')
      const element = Object.assign(document.createElement('div'), { className: 'col-4 mb-3' })
      const element2 = Object.assign(document.createElement('div'), { className: 'card' })
      const element3 = Object.assign(document.createElement('div'), {
        className: 'card-body',
        textContent: response.title,
      })
      element.appendChild(element2)
      element2.appendChild(element3)
      // 最後に追加
      postArea.insertBefore(element, postArea.lastChild.nextSibling)
    })
    .catch((error) => {
      console.log(error)
    })
}

const addBlog = document.getElementById('add_blog')
addBlog.addEventListener('submit', (e) => {
  e.preventDefault()
  
})


  // 記事追加キーボードｖer
  const addBlog = document.getElementById('add_blog')
  addBlog.addEventListener('submit', (e) => {
    e.preventDefault()
    const url = '{% url "app:add" %}'
    const post_title = document.getElementById('post_title')
    // URLのクエリパラメータを管理
    const body = new URLSearchParams()
    body.append('title', post_title.value)

    fetch(url, {
      method: 'POST',
      body: body,
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
        'X-CSRFToken': csrftoken,
      },
    })
      .then((response) => {
        // JSON形式に変換
        return response.json()
      })
      .then((response) => {
        // フォームをクリア
        post_title.value = ''
        // 追加するエレメント
        const postArea = document.getElementById('posts')
        const element = Object.assign(document.createElement('div'), { className: 'col-4 mb-3' })
        const element2 = Object.assign(document.createElement('div'), { className: 'card' })
        const element3 = Object.assign(document.createElement('div'), {
          className: 'card-body',
          textContent: response.title,
        })
        element.appendChild(element2)
        element2.appendChild(element3)
        // 最後に追加
        postArea.insertBefore(element, postArea.lastChild.nextSibling)
      })
      .catch((error) => {
        console.log(error)
      })
  })

  // 記事検索
  const searchBlog = document.getElementById('search_blog')
  searchBlog.addEventListener('submit', (e) => {
    e.preventDefault()
    const url = '{% url "app:search" %}'
    const search_title = document.getElementById('search_title')
    // URLのクエリパラメータを管理
    const body = new URLSearchParams()
    body.append('title', search_title.value)

    fetch(url, {
      method: 'POST',
      body: body,
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
        'X-CSRFToken': csrftoken,
      },
    })
      .then((response) => {
        // JSON形式に変換
        return response.json()
      })
      .then((response) => {
        // フォームをクリア
        search_title.value = ''
        // 検索するエレメント
        const postArea = document.getElementById('posts')
        postArea.innerHTML = ''
        for (const title of response.title_list) {
          const element = Object.assign(document.createElement('div'), { className: 'col-4 mb-3' })
          const element2 = Object.assign(document.createElement('div'), { className: 'card' })
          const element3 = Object.assign(document.createElement('div'), {
            className: 'card-body',
            textContent: title,
          })
          element.appendChild(element2)
          element2.appendChild(element3)
          postArea.appendChild(element)
        }
      })
      .catch((error) => {
        console.log(error)
      })
  })
</script>
{% endblock %}